:root {
  --primaryColor: #d1051e;
}

.text-main {
  color: var(--primaryColor);
}

.btn-main {
  background-color: var(--primaryColor);
  color: #fff;
}

.btn-main:hover {
  color: #fff;
}

.bg-main {
  background-color: gray!important;
}

.bg-yellow {
  background-color: rgb(199, 199, 40);
}

.total-minimo {
  width: 150px;
}

.table th:first-child,
.table td:first-child {
  position: sticky;
  left: 0;
  background: #f7f7f7;
  z-index: 1;
  /* Ajustar el ancho de la primera columna */
  width: 150px; /* Cambia este valor según tus necesidades */
}

.table th:first-child {
  z-index: 2; /* Asegura que el encabezado esté sobre las celdas de datos */
}